body {
  background-color: #ebebeb;
}

.heading {
  background-color: #333333;
  margin-bottom: 20px;
  padding: 5px 0px 5px 15px;
}

.title {
  background-color: #333333;
  padding: 5px;
  color: white;
}

#runtime {
  background-color: #333333;
  color: #3e8fde;
  padding: 0px 0px 5px 5px;
}

.content {
  color: #3e8fde;
}

#subtitle {
  color: white;
  margin-left: 55px;
}

#showing {
  margin-left: 20px;
}

#films li::before {
  content: "";
}


#films {
  list-style-type: none; 
  padding: 0;
  margin: 0;
  width: 250px;
  background-color: #f5f5f5; 
  border-radius: 5px; 
  overflow-y: auto; 
  max-height: 500px; 
}


#films li {
  padding: 15px 10px;
  margin: 5px 0;
  background-color: #ffffff; 
  border-bottom: 1px solid #ddd; 
  cursor: pointer; 
  display: flex; 
  justify-content: space-between;
  align-items: center;
}


#films li:hover {
  background-color: #e0f7fa; 
  transition: background-color 0.3s ease;
}


.delete-button {
  padding: 5px 10px;
  background-color: #ff5252; 
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}


.delete-button:hover {
  background-color: #e04848; 
  transition: background-color 0.3s ease;
}


.film {
  font-size: 16px;
  text-transform: uppercase;
}

.sold-out {
  color: lightgray;
}

img {
  max-width: 25vw;
}

#film-info {
  padding-bottom: 15px;
}
